In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.widgets import RangeSlider

In [2]:
df = pd.read_excel("./data/woodland.xlsx")
df["Time"] = pd.to_datetime(df["Time"])
df.head()

                 Time  Inv1 Pac (W)
0 2022-01-01 06:00:00        0.0000
1 2022-01-01 07:00:00      410.5833
2 2022-01-01 08:00:00     2762.0833
3 2022-01-01 09:00:00     5461.2500
4 2022-01-01 10:00:00     8356.1670

In [3]:
df.shape

(12188, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12188 entries, 0 to 12187
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          12188 non-null  datetime64[ns]
 1   Inv1 Pac (W)  12188 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 190.6 KB

In [5]:
df.set_index('Time', inplace=True)

In [6]:
df = df.resample('H').asfreq()

In [7]:
df['Inv1 Pac (W)'] = df['Inv1 Pac (W)'].interpolate(method='linear', limit_direction='both')

In [8]:
df

                     Inv1 Pac (W)
Time
2022-01-01 06:00:00        0.0000
2022-01-01 07:00:00      410.5833
2022-01-01 08:00:00     2762.0833
2022-01-01 09:00:00     5461.2500
2022-01-01 10:00:00     8356.1670
...                           ...
2024-12-04 16:00:00     6669.2500
2024-12-04 17:00:00     2849.4167
2024-12-04 18:00:00      398.0833
2024-12-04 19:00:00        0.0000
2024-12-04 20:00:00        0.0000

[25647 rows x 1 columns]

In [9]:
df.reset_index(inplace=True)

In [10]:
df

                     Time  Inv1 Pac (W)
0     2022-01-01 06:00:00        0.0000
1     2022-01-01 07:00:00      410.5833
2     2022-01-01 08:00:00     2762.0833
3     2022-01-01 09:00:00     5461.2500
4     2022-01-01 10:00:00     8356.1670
...                   ...           ...
25642 2024-12-04 16:00:00     6669.2500
25643 2024-12-04 17:00:00     2849.4167
25644 2024-12-04 18:00:00      398.0833
25645 2024-12-04 19:00:00        0.0000
25646 2024-12-04 20:00:00        0.0000

[25647 rows x 2 columns]

In [11]:
df.rename(columns={"Time": "Date", "Inv1 Pac (W)": "P (kW)"}, inplace=True)

In [12]:
df["P (kW)"] = df["P (kW)"] / 1000

In [13]:
df.to_csv("./data/clean_woodland_data.csv", index = False)